@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #E24B4A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
